* {
	font-family: "微软雅黑";
}
/*pc端*/
@media only screen and (min-width: 992px) {
	.content-width {
		max-width: 1000px;
	}
	/*导航*/
	.navbar {
		padding: 0;
	}
	.navbar .content-width .navbar-brand {
		padding: 0;
	}
}

/*移动端*/
@media only screen and (max-width: 414px) {
	.navbar .content-width .navbar-collapse {
		overflow: auto;
	}
}


.navbar .content-width .navbar-collapse .nav-item a {
	font-size: 14px;
	padding: 18px 15px;
	white-space: nowrap;
}
/*选中状态*/
.navbar .content-width .navbar-collapse .navbar-nav .active {
	background: #080808;
}

.navbar .content-width .navbar-collapse .dropdown .btn-language {
	background: 0;
	border: 0;
	color: #9d9d9d;
}



/*底部*/
.footer {
	background: #3b3b3b;
	padding-bottom: 37px;
}
.footer .content-width {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 14px;
	padding-top: 35px;
}
.footer .footer-left ul {
	display: flex;
	margin-bottom: 15px;
}
.footer .footer-left ul li {
	margin-right: 14px;
}
.footer .footer-left a {
	font-size: 14px;
	line-height: 14px;
	color: #a1a3ab;
}
.footer .footer-left p {
	font-size: 12px;
	line-height: 12px;
	color: #a1a3ab;
}
.footer .footer-right ul {
	display: flex;
}
.footer .footer-right ul li {
	width: 38px;
	height: 38px;
	margin-left: 20px;
	position: relative;
}
.footer .footer-right ul li:hover .qr {
	display: block;
}
.footer .footer-right ul li img {
	width: 100%;
}
.footer .footer-right ul li .qr {
	display: none;
	position: absolute;
	bottom: 42px;
	width: 142px;
	height: 150px;
	left: 50%;
	transform: translateX(-50%);
}
.footer .footer-right ul li .qr img {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.footer .content-width {
		flex-direction: column;
	}
	.footer .content-width .footer-right {
		margin-top: 20px;
	}
	.footer .content-width .footer-left {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width: 414px) {
	.footer .content-width .footer-right {
		display: none;
	}
}