@charset "utf-8";
@function p($px){
	@return $px/2+px;
}
.container {
	section {
	    .scroll {
	        width: 100%;
	        height: p(285);
	        position: relative;
	        margin-top: p(10);
	        margin-bottom: p(34);
	        overflow: hidden;
	        img {
	            width: 100%;
	            position: absolute;
	            top: 0;
	            bottom: 0;
	            left: 0;
	            right: 0;
	            margin: auto;
	        }
	    }
	    .block {
	        .block-1 {
	            .content {
	                margin-top: p(17);
	                li {
	                    float: left;
	                    width: 50%;
	                    text-align: center;
	                    margin-bottom: p(30);
	                    .img {
	                        display: inline-block;
	                        width: p(241);
	                        height: p(94);
	                        position: relative;
	                        overflow: hidden;
	                        img {
	                            width: 100%;
	                            position: absolute;
	                            top: 0;
	                            bottom: 0;
	                            left: 0;
	                            right: 0;
	                            margin: auto;
	                        }
	                    }
	                }
	            }
	        }
	        .block-2 {
	            .content {
	                margin-top: p(25);
	                margin-left: p(21);
	                .item {
	                    height: p(164);
	                    margin-bottom: p(30);
	                    a {
	                        display: block;
	                        .intro {
	                            float: left;
                                .img {
                                    display: inline-block;
                                    width: p(211);
                                    height: p(164);
                                    position: relative;
                                    float: left;
                                    img {
                                        height: 100%;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        margin: auto;
                                    }
                                }
                                .text {
                                    float: left;
                                    margin-left: p(21);
                                    h3 {
                                        font-size: p(30);
                                        line-height: p(30);
                                        font-weight: normal;
                                        color: #000;
                                        margin-top: p(31);
                                        margin-bottom: p(20);
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                    div {
                                        font-size: p(22);
                                        line-height: p(22);
                                        margin-bottom: p(22);
                                        color: #494949;
                                        span {
                                            margin: 0 p(5);
                                            &:nth-child(2) {
                                                white-space: nowrap;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                            }
                                        }
                                    }
                                    .price {
                                        font-size: p(32);
                                        line-height: p(32);
                                        color: #ff9344;
                                        margin-left: p(7);
                                    }
                                }
                            }
                            .status {
                                float: right;
                                color: #494949;
                                font-size: p(22);
                                line-height: p(22);
                                text-align: right;
                                margin-right: p(15);
                                .distance {
                                    margin-top: p(36);
                                    margin-bottom: p(72);
                                }
                            }
	                    }
	                }
	            }
	        }
	    }
	}
	footer {
	    .nav-bar {
	        .nav {
	            .home {
	                background: url(../img/bnav-home-active.png) no-repeat;
	                background-size: p(74) p(74);
                    background-position: center p(5);
	            }
	        }
	    }
	}
}