/*选择器：
	1：元素选择器：直接把元素名当作选择器；
	2：通配符：用*表示，可以选择到所有的元素；
	3：类选择器：用.class选择元素；
	4：id选择器：用#id选择元素；*/
/*div {
	color: red;
	background: gray;
	font-size: 30px;
}*/

/** {
	border: 1px solid rgba(255,0,0,0.1);
}*/

.p1 {
	color: green;
}

#h1 {
	font-weight: normal;
	color: blue;
	opacity: 0.5;/*设置透明度*/
}

/*字体样式*/
/*font-size:字体大小*/
/*font-weight:字体粗细
	100~500 lighter normal:正常
	600~900 bold:加粗*/
/*font-family:字体系列*/
/*font-style:字体样式*/
	/*italic,oblique:斜体*/
	/*normal:正常*/
/*line-height:行高，行距*/
	/*30px:30像素的行距*/
	/*1.5:1.5倍行距*/
span {
	font-size: 25px;
	font-weight: bold;
	font-family: "黑体";
	font-style: italic;
	line-height: 30px;
	/*可以写在一行内，字体的大小和系列都必须指定*/
	/*font: italic bold 25px/30px "黑体";
	  font: style weight size/line-height family*/
	/*background: url();设置背景图片*/
	/*background-image: url();设置背景图片*/
	/*background-repeat: no-repeat;背景不重复出现(默认会重复出现)*/
	/*background-size: 100% 100%;背景图片的大小，此时宽高都占100%,若只指定一个值，表示只设置了宽度*/
		/*除了可以用百分比设定，还可以用像素大小设定*/
	/*background-size: cover; 将背景填充满元素，背景将可能超出容器范围*/
	/*background-size: contain; 图片将等比缩放到宽或高与容器相同,完整的图片始终在容器内*/
	/*background-size: auto; 图片以原来的大小显示*/

	/*background-position: right bottom;将图片对齐到右下角*/
		/*除了用英文单词指定，还可以用x轴y轴的像素偏移或百分比来指定*/
}

.btn {
	width: 70px;
	height: 30px;
	background: orange;
	text-align: center;/*文字的水平对齐方式：居中*/
	border-radius: 10px;/*圆角*/

	/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	line-height: 30px;/*当容器内只有一行文字时，且行高和高度相等时，文字将垂直居中于容器中*/

	/*设置鼠标指针样式*/
	cursor: pointer;
}

/*伪类*/
.btn:hover {/*鼠标悬停在元素上时触发*/
	background: blue;
	color: white;
}