@charset "utf-8";
@function r($px) {
    @return $px/100+rem;
}
.fit-width {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.sky {
    z-index: -4;
    width: 100%;
    height: r(720);
    position: absolute;
    top: 0;
    .moon {
        position: absolute;
        top: r(560);
        right: r(116);
        width: r(65);
        height: r(65);
    }
    .cloud {
        z-index: 1;
        position: absolute;
    }
    .cloud-1 {
        width: r(77);
        height: r(56);
        top: r(400);
    }
    .cloud-2 {
        width: r(58);
        height: r(43);
        top: r(435);
    }
    .cloud-3 {
        width: r(43);
        height: r(32);
        top: r(544);
    }
    .cloud-4 {
        width: r(59);
        height: r(44);
        top: r(610);
    }
    .cloud-5 {
        width: r(34);
        height: r(25);
        top: r(634);
    }
}
.container {
    .fp-controlArrow {
        display: none;
    }
    .logo {
        width: r(103);
        height: r(38);
        position: relative;
        overflow: hidden;
        margin-left: r(45);
        margin-bottom: r(79);
    }
//  首页
    .home {
        font-size: 0;
        background: url(../img/bg-home.jpg) no-repeat;
        background-size: cover;
        padding-top: r(44);
        position: relative;
        z-index: -5;
        .title-group {
            width: 100%;
            height: r(306);
            position: relative;
            z-index: 10;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                position: absolute;
            }
            .title-1 {
                top: 0;
                z-index: 11;
                width: r(381);
                height: r(71);
            }
            .title-2 {
                top: r(57);
                width: r(576);
                height: r(157);
            }
            .title-3 {
                bottom: r(40);
                width: r(352);
                height: r(62);
            }
            .title-4 {
                bottom: 0;
                width: r(341);
                height: r(29);
            }
        }
        .character {
            width: 100%;
            height: r(435);
            position: absolute;
            bottom: r(132);
            text-align: center;
            .people {
                width: r(339);
                height: r(421);
            }
            .bubble {
                transform: scale(0);
                position: absolute;
            }
            .bubble-1 {
                top: r(77);
                left: r(49);
                width: r(94);
                height: r(69);
            }
            .bubble-2 {
                top: r(87);
                right: r(45);
                width: r(148);
                height: r(82);
            }
            .bubble-3 {
                bottom: r(25);
                left: r(55);
                width: r(128);
                height: r(78);
            }
            .bubble-4 {
                bottom: r(61);
                right: r(57);
                width: r(94);
                height: r(57);
            }
        }
        .start {
            position: absolute;
            bottom: r(62);
            left: 50%;
            width: r(171);
            height: r(70);
        }
    }
    .question {
        font-size: 0;
        background: url(../img/bg-question.jpg) no-repeat;
        background-size: cover;
        position: relative;
        z-index: -5;
        .slide {
            position: relative;
            padding-top: r(105);
            h2 {
                position: relative;
                top: -300%;
                padding: 0 r(45);
                line-height: r(50);
                font-size: r(33);
                color: #fff;
                font-weight: normal;
                margin-bottom: r(42);
            }
            .img {
                opacity: 0;
                display: block;
                margin: 0 auto;
                width: r(250);
                height: r(350);
            }
            .img-2 {
                width: r(212);
                height: r(234);
            }
            .img-3 {
                width: r(333);
                height: r(255);
            }
            .img-4 {
                margin-top: r(120);
                width: r(239);
                height: r(125);
            }
            .img-5 {
                margin-top: r(100);
                width: r(351);
                height: r(193);
            }
            .img-5 {
                margin-top: r(100);
                width: r(351);
                height: r(193);
            }
            .img-6 {
                margin-top: r(100);
                width: r(345);
                height: r(193);
            }
            .img-7 {
                margin-top: r(100);
                width: r(345);
                height: r(247);
            }
            .img-12 {
                margin-top: r(100);
                width: r(322);
                height: r(247);
            }
            .img-15 {
                margin-top: r(100);
                width: r(291);
                height: r(291);
            }
            .img-16 {
                margin-top: r(100);
                width: r(345);
                height: r(325);
            }
            .img-17 {
                margin-top: r(100);
                width: r(350);
                height: r(250);
            }
            .img-19 {
                margin-top: r(100);
                width: r(233);
                height: r(282);
            }
            .img-22 {
                width: r(376);
                height: r(314);
            }
            .selection-block {
                height: r(336);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: absolute;
                left: r(58);
                bottom: r(117);
                .selection {
                    position: relative;
                    top: 300%;
                    width: r(368);
                    height: r(63);
                    &:hover .out-sel {
                        display: none;
                    }
                    &:hover .in-sel {
                        display: block;
                    }
                    .bg {
                        width: 100%;
                    }
                    .in-sel {
                        display: none;
                    }
                    span {
                        position: absolute;
                        left: r(17);
                        top: r(13);
                        font-size: r(26);
                        line-height: r(26);
                        color: #000;
                    }
                    .check {
                        display: none;
                        position: absolute;
                        top: r(7);
                        right: r(42);
                        width: r(48);
                        height: r(34);
                    }
                }
            }
            .dog {
                width: r(160);
                height: r(353);
                position: absolute;
                bottom: r(80);
                right: r(23);
                .mark {
                    bottom: r(70);
                    opacity: 0;
                }
                img {
                    position: absolute;
                    &:nth-child(1) {
                        width: r(83);
                        height: r(92);
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &:nth-child(2) {
                        right: r(20);
                        width: r(65);
                        height: r(61);
                    }
                    &:nth-child(3) {
                        right: r(30);
                        width: r(69);
                        height: r(47);
                    }
                    &:nth-child(4) {
                        right: r(40);
                        width: r(75);
                        height: r(53);
                    }
                    &:nth-child(5) {
                        right: r(30);
                        width: r(74);
                        height: r(74);
                    }
                    &:nth-child(6) {
                        right: r(30);
                        width: r(104);
                        height: r(122);
                    }
                }
            }
        }
        .q-22 {
            .selection-block .selection span {
                left: 0;
                display: block;
                width: 100%;
                text-align: center;
            }
        }
        .result {
            position: relative;
            padding-top: r(44);
            .result-block {
                margin: 0 auto;
                position: relative;
                width: r(534);
                height: r(846);
                background: url(../img/bg-result.png) no-repeat;
                background-size: cover;
                padding-top: r(82);
                text-align: center;
                h1 {
                    font-size: r(50);
                    line-height: r(50);
                    color: #f6ff00;
                    font-weight: normal;
                    text-shadow: 0 0 r(10)  #000;
                    margin-bottom: r(47);
                }
                p {
                    margin-bottom: r(29);
                    font-size: r(36);
                    line-height: r(36);
                    color: #fff;
                    text-align: center;
                    text-shadow: 0 0 r(15)  #000;
                    em {
                        color: #36ff00;
                    }
                }
                .btn-share {
                    position: absolute;
                    right: r(63);
                    bottom: r(79);
                    width: r(200);
                    height: r(71);
                    background: url(../img/bg-btn-1.png) no-repeat;
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        letter-spacing: r(3);
                        font-size: r(32);
                        line-height: r(32);
                        color: #384000;
                    }
                }
            }
            .character {
                width: r(260);
                height: r(333);
                position: absolute;
                left: r(101);
                bottom: r(57);
            }
        }
        .comment {
            position: relative;
            padding-top: r(44);
            text-align: center;
            .logo {
                margin-bottom: r(34);
            }
            .avatar {
                margin: 0 auto;
                position: relative;
                width: r(173);
                height: r(173);
                background: #fff;
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: r(14);
            }
            p {
                font-size: r(28);
                line-height: r(28);
                color: #fff;
                margin-bottom: r(27);
                em {
                    color: #fff000;
                }
            }
            .label-block {
                margin: 0 auto;
                margin-top: r(90);
                width: r(539);
                height: r(504);
                position: relative;
                p {
                    font-size: r(21);
                    line-height: r(21);
                    color: #d5d5d5;
                    text-align: left;
                }
                .label {
                    position: absolute;
                    font-size: r(25);
                    height: r(56);
                    line-height: r(56);
                    display: inline-block;
                    padding: 0 r(14);
                    border-radius: r(28);
                    color: #2f3400;
                    background: #bccbd9;
                    &:nth-child(3) {
                        top: r(57);
                        right: r(50);
                    }
                    &:nth-child(4) {
                        background: #5c727a;
                        top: r(125);
                        left: r(38);
                    }
                    &:nth-child(5) {
                        top: r(153);
                        left: r(182);
                        background: #a1b05e;
                    }
                    &:nth-child(6) {
                        top: r(203);
                        right: 0;
                        background: #c3c126;
                    }
                }
                .comment-block {
                    margin: 0 auto;
                    width: r(495);
                    height: r(182);
                    position: absolute;
                    bottom: 0;
                    p {
                        text-align: center;
                        margin-bottom: r(19);
                    }
                    textarea {
                        font-size: r(20);
                        line-height: 1.4;
                        padding: r(5);
                        color: #fff;
                        width: r(495);
                        height: r(71);
                        border: r(2) solid #fff;
                        background: transparent;
                        resize: none;
                        margin-bottom: r(19);
                    }
                    > div {
                        display: inline-block;
                        font-size: r(23);
                        line-height: r(47);
                        text-align: center;
                        letter-spacing: r(3);
                        width: r(138);
                        height: r(47);
                        background: #deff00;
                        border-radius: r(10);
                        box-shadow: r(3) r(3) r(0) r(3) #4e580e;
                        &:nth-child(3) {
                            margin-right: r(54);
                        }
                    }
                }
            }
            .cover {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0,0,0,0.9);
                padding-top: r(283);
                img {
                    width: r(168);
                    height: r(166);
                    display: block;
                    margin: 0 auto;
                    margin-bottom: r(42);
                }
                p {
                    text-align: center;
                    font-size: r(31);
                    line-height: r(31);
                    color: #fff;
                    letter-spacing: r(2);
                }
            }
        }
        .view-comment {
            letter-spacing: r(3);
            position: relative;
            padding-top: r(44);
            text-align: center;
            .logo {
                margin-bottom: r(34);
            }
            .avatar {
                margin: 0 auto;
                position: relative;
                width: r(173);
                height: r(173);
                background: #fff;
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: r(14);
            }
            .how {
                margin: r(26) auto;
                text-align: left;
                padding-left: r(16);
                width: r(397);
                height: r(53);
                font-size: r(23);
                line-height: r(65);
                background: url(../img/bg-comment-01.png) no-repeat;
                background-size: cover;
                color: #fff;
            }
            p {
                font-size: r(18);
                line-height: r(18);
                color: #fff;
                text-align: center;
                margin-bottom: r(24);
            }
            .comment-list {
                width: r(469);
                margin: 0 auto;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: r(36);
                    .c-avatar {
                        width: r(59);
                        height: r(59);
                        background: #fff;
                        overflow: hidden;
                        position: relative;
                        border-radius: 50%;
                    }
                    .comment-content {
                        width: r(402);
                        height: r(44);
                        background: url(../img/bg-comment-02.png)no-repeat;
                        background-size: cover;
                        font-size: r(24);
                        line-height: r(44);
                        color: #fff;
                        padding-left: r(22);
                        text-align: left;
                    }
                }
            }
            .bottom-line {
                width: 100%;
                position: absolute;
                bottom: 0;
                height: r(70);
                background: #2c2c2c;
                display: flex;
                justify-content: space-around;
                align-items: center;
                span {
                    font-size: r(20);
                    color: #fff;
                    line-height: r(20);
                }
                a {
                    width: r(111);
                    height: r(47);
                    color: #384000;
                    font-size: r(22);
                    line-height: r(47);
                    background: #deff00;
                    display: block;
                    border-radius: r(9);
                }
                .btn-nav {
                    > div {
                        margin-bottom: r(7);
                        &::before {
                            content: "";
                            display: inline-block;
                            background: #fff;
                            width: r(5);
                            height: r(5);
                            margin-right: r(4);
                        }
                        &::after {
                            content: "";
                            display: inline-block;
                            background: #fff;
                            width: r(27);
                            height: r(5);
                        }
                    }
                }
            }
            .cover {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0,0,0,0.9);
                .qr {
                    width: r(314);
                    height: r(314);
                    display: block;
                    margin: 0 auto;
                    margin-bottom: r(53);
                    overflow: hidden;
                    position: relative;
                }
                p {
                    text-align: center;
                    font-size: r(31);
                    line-height: r(31);
                    color: #fff;
                    letter-spacing: r(2);
                    margin-bottom: r(20);
                }
            }
        }
    }
}
