@charset "utf-8";
@function r($px) {
    @return $px/100+rem;
}
html,
body {
    height: 100%;
}
.mobile {
    header {
        width: 100%;
        height: 0.89rem;
        background: #b20000;
        overflow: hidden;
        .login {
            margin-top: r(32);
            margin-left: r(23);
            float: left;
            li {
                width: r(30);
                height: r(4);
                background: #fff;
                color: #fff;
                margin-top: r(6);
                position: relative;
                &::before {
                    display: block;
                    content: "";
                    width: r(4);
                    height: r(4);
                    background: #fff;
                    position: absolute;
                    top: 0;
                    left: r(-5);
                }
            }
        }
        .logo {
            float: left;
            width: r(264);
            height: r(39);
            font-size: 0;
            margin-top: r(25);
            margin-left: r(134);
            overflow: hidden;
            img {
                height: 100%;
            }
        }
        .search {
            float: right;
            width: r(43);
            height: r(43);
            overflow: hidden;
            font-size: 0;
            margin-right: r(17);
            margin-top: r(25);
            img {
                width: 100%;
            }
        }
    }
}
#check {
    display: none;
}
#check:checked ~ .login-box {
    transform: translateX(0);
}
.login-box {
    width: 100%;
    height: 100%;
    background: #222;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: 0.5s;
    .back {
        width: r(43);
        height: r(43);
        line-height: r(43);
        background: #b60005;
        font-size: r(40);
        color: #fff;
        text-align: center;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: r(32);
        left: r(23);
    }
}
