.location {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.selection {
    margin: 0 5px;
    border: 1px solid blueviolet;
    position: relative;
}
.selection::after {
    content: "";
    display: inline-block;
    border-top: 5px solid blueviolet;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
select{
/*将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border: 0;
    outline: 0;
    padding: 3px 15px 3px 5px;
    background: transparent;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }