@keyframes slideLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: scale(0.2) rotate(120deg);
    }
    to {
        transform: scale(1) rotate(0deg);
    }
}