@charset "utf-8";
@import "reset";
@mixin transform1 {
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}
$mycolor:skyblue;
.web {
	p {
		width:1000px;
		background:skyblue;
		color:pink;
		font-size:20px;
		@include transform1;
	}
	.nav {
		overflow:hidden;
		li {
			width:100px;
			height:50px;
			text-align:center;
			line-height:50px;
			background:gray;
			list-style:none;
			a {
				color:#fff;
				text-decoration:none;
				background:$mycolor;
				font-size:12px;

			}
		}
	}
}
//注释