* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.block {
    width: 380px;
    margin: 50px auto;
}
.block .spec-list .spec-item,
.block .spec-list .spec-item .selection-list {
    display: flex;
    align-items: center;
}
.block .spec-list {
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    margin-bottom: 20px;
}
.block .spec-list .spec-item {
    margin-bottom: 15px;
}
.block .spec-list .spec-item .spec-title {
    margin-right: 15px;
}
.block .spec-list .spec-item .selection-list li {
    padding: 5px 10px;
    border: 1px solid #999;
    margin-right: 10px;
    cursor: pointer;
    color: #999;
}
.block .price-tag .price {
    font-size: 22px;
    color: orangered;
}
.block .buy {
    margin-top: 20px;
    display: block;
    background: orangered;
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 35px;
    width: 300px;
    line-height: 35px;
}

/* *************** */
.block .spec-list .spec-item .selection-list .active,
.block .spec-list .spec-item .selection-list li:hover {
    border-color: orangered;
}
.block .spec-list .spec-item .selection-list .active {
    color: orangered;
}